# Diretórios de compilação
target/
bin/
out/

# Arquivos compilados
*.class

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Maven Wrapper (opcional)
.mvn/wrapper/maven-wrapper.jar